body{
	background-color:#311A24;
}
#kontainer{
	width:600px;
	margin:auto;
	border:2px #000 solid;
	border-color:#fff;
	padding:5px;
	background-color:#530D23;
	color:#fff;
}
#header{
	height:150px;
	line-height:150px;
	text-align:center;
	background-color:#0C223A;
}
h1{
	margin-top:0;
}
#menu{
	float:left;
	width:180px;
}
#utama{
	float:left;
	width:400px;
}
.bersih{
	clear:both;
}